<app-card corBtn="green" title="Coxinha de strogonoff"></app-card>
<app-card corBtn="blue" banner="https://plus.unsplash.com/premium_photo-1665433616247-35112f84bd50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"></app-card>
<app-card corBtn="grey" userName="Rodrigo" banner="https://media.istockphoto.com/photos/spooky-aliens-face-blue-light-in-background-3d-rendered-illustration-picture-id1327876790?s=612x612"></app-card>

<app-uploader (uploadCompleto)="mostrarMsg()"></app-uploader>

<input type="file" #inputFile>
<button id="btn" (click)="inputFile.click()">Selecionar um arquivo</button>
